<div class="comments">
 <div class="text-center">
  <p>
   <%= image_tag @post.image, class: 'img-responsive img-setting center-block' %>
    
  </p>
  
 
  <p>
      <%= @post.title %>
  </p>
  <p>
      <%= @post.body %>
  </p>
 

 <div id="comments">
  <% @comments.each do |comment| %>
   <%= render partial: "comment", locals: { comment_in_the_partial: comment, post_in_partial: @post } %>
    <% end %>
    </div>
    <div>
     <div id="comments-form-container">
      <%= render partial: "create_form", locals: { comment: @comment, post: @post } %>
     </div>
 </div>
  
  
 </div>




 <!--<h3 class="red-text"> C O M M E N T S </h3>-->