<div class="landing">
  <div class="hero-banner">
    <div class="background">
    </div>
    <div class="content">
      <h1 class="red-text text-center"> Welcome to Foods &amp; Beverage Paradize ! </h1>
      <hr class="short-underline">
    </div>
  </div>

<!--
        <div class="background-2">
            <div class="content"></div>
        </div>
-->
        <section class="features">
           <div class="feature text-center">
                <%= fa_icon 'globe 5x' %>
                     <h2> Easy Navigation </h2>
                   <h3> It's simple. To complete a block, you hit, "Complete Block". To take a quiz, you click, "Take Quiz". You aren't going to find a more well organized drivers education course on the web.</h3>
           </div>
          <div class= "feature text-center">
                <%= fa_icon 'university 5x' %>
                    <h2> Learn to Drive </h2>
                  <h3> By taking this online course, you will have a much better overall driving experience. Hopefully that’ll make mom and dad a little happier. </h3>
           </div>
          <div class= "feature text-center">
               <%= fa_icon 'book 5x' %>
                  <h2> Wherever You Go ! </h2>
               <h3> Whether on spring break or waiting in the doctor’s office, you will be able to complete the online portion of our course wherever you are! </h3>
        </div>
        <div class= "feature text-center">
             <%= fa_icon 'question 5x' %>
               <h2> All Video Lessons </h2>
             <h3> We won’t bore you with pages and pages of text. All of our lessons are provided to you via videos. Be on the lookout for a little humor too. </h3>
        </div>
        </section>

        <section class="image-box-container">

            <div class="image-box">
                    <div class="invisible-image">
                            <%= image_tag "mouthwideopen1.jpg", class: "img" %>
                   </div>
                           <%= image_tag "Chicken_Sausage.jpg", class: "img" %>
           </div>

            <div class="image-box">
                     <div class="invisible-image">
                            <%= image_tag "mouthwideopen2.jpg", class: "img" %>
                    </div>
                         <%= image_tag "bfast_avocado.jpg", class: "img" %>
            </div>

             <div class="image-box">
                     <div class="invisible-image">
                           <%= image_tag "mouthwideopen3.jpg", class: "img" %>
                    </div>
                      <%= image_tag "salmon_fish.jpg", class: "img" %>
             </div>

              <div class="image-box">
                      <div class="invisible-image">
                           <%= image_tag "mouthwideopen4.jpg", class: "img" %>
                     </div>
                        <%= image_tag "avocado_pesto_spaghetti.jpg", class: "img" %>
              </div>

        </section>


</div>  <!-- class="landing" -->
