<h1>Topics</h1>

<% @topics.each do |topic| %>
     <div class="topic">
       <h3> <%= topic.title %>             </h3>
       <h5> <%= topic.description %> </h5>
       <%= link_to topic.title, topic_path(topic) %>
     </div>
<% end %>



<!-- <div class="topics">

  <div class="text-center">

        <h1>My Topics</h1>
        <%=  link_to 'New Topic',  new_topic_path, class: "btn btn-into btn-lg" %>
  </div>

        <% @topics.each do |topic| %>
        Rails For Loop View

    <div class="topic">
             <h3><%= topic.title %></h3>
             <h5><%= topic.description%></h5>

             <%= link_to topic.title, topic_posts_path(topic) %>

            <%= link_to 'Edit Topic' , edit_topic_path(topic), class: "btn btn-into btn-lg mar20top" %>
            <%= link_to "Delete", topic_path(topic), method: :delete, data: { confirm: "Delete?" } %>

     </div>
   <% end %>
</div> -->
