<div class="topics">

  <div class="topic-holder">

<h1><%= @topic.title %></h1>
<p><%= @topic.description %></p>
<!-- # the destroy action, which allows you to delete topics. -->

 <div class="post-holder">

    <% @posts.each do |post| %>
      <div class="topic">





        <!-- <h3>  <%= link_to topic.title, topic_path(topic) %></h300> -->
        <h3><%= link_to topic.title, topic_posts_path(topic) %></h300>





          <h3><%= link_to post.title, post_path(post) %></h300>
          <h5><%= post.body %></h5>


        </div>
    <%end%>

   </div>

   <%= link_to "Delete", topic_path(@topic), method: :delete, data: { confirm: "Delete?" }, class: "btn btn-primary" %>

  </div>

</div>
